# Data
code/src/data/raw/
code/src/data/processed/
data/raw/
data/processed/

# FastF1 cache
code/src/data/raw/fastf1_cache/

# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env
venv/
.venv/

# OS
.DS_Store